@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
header,
footer {
	height: 50vh;
	background: #000;
}

main {
	margin: 0 10vw;
	padding: 5vh;
	display: flex;
	gap: 20px;
	justify-content: space-between;
	align-items: center;
}

.card {
	background-color: #f6fafe;
	padding: 10px;
	width: 33.3333%;
	align-self: stretch;
}

.card .price {
	font-size: 33px;
	font-weight: 700;
	color: #1d1b84;
}

.card .plan-pricing {
	background-color: #fff;
	padding: 25px 30px;
	border-radius: 8px;
	text-align: center;
}

.plan-pricing .buy-now {
	text-decoration: none;
	text-align: center;
	display: block;
	background-color: #8c4bff;
	color: #fff;
	padding: 10px 40px;
	margin: 20px 0;
	border-radius: 8px;
}
